In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
# Read in the client demographics data
client_read_df = pd.read_csv(
    "https://raw.githubusercontent.com/biodatascience/datasci611/gh-pages/data/project2_2019/CLIENT_191102.tsv",      # relative python path to subdirectory
    sep='\t'           # Tab-separated value file.
    #quotechar="'",        # single quote allowed as quote character
    #dtype={"salary": int},             # Parse the salary column as an integer 
    ,usecols=['Client ID', 'Client Age at Entry', 'Client Gender', 'Client Primary Race','Client Ethnicity','Client Veteran Status']   # Only load the three columns specified.
    #parse_dates=['birth_date'],     # Intepret the birth_date column as a date
    #,skiprows=10        # Skip the first 10 rows of the file
 ,na_values=['**']       # Take any '.' or '??' values as NA
,header=0
).drop_duplicates()

client_read_df
#client_total_rows = client_df.count
#print (client_total_rows)

,Client ID,Client Age at Entry,Client Gender,Client Primary Race,Client Ethnicity,Client Veteran Status
0,397941,60.0,Female,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
1,130335,48.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
2,188933,42.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
3,168290,57.0,Male,White (HUD),Hispanic/Latino (HUD),No (HUD)
4,123122,51.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
...,...,...,...,...,...,...
5284,363078,62.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),Yes (HUD)
5285,291392,55.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),Yes (HUD)
5286,382261,49.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),Yes (HUD)
5287,359808,59.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),Yes (HUD)
5288,385539,58.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),Yes (HUD)

In [4]:
#Update columns names
client_read_df.columns=['ClientID', 'Age', 'Gender', 'Race','Ethnicity','VeteranStatus']

#client_csv = client_df.to_csv (r'data\client.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path
client_read_df

,ClientID,Age,Gender,Race,Ethnicity,VeteranStatus
0,397941,60.0,Female,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
1,130335,48.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
2,188933,42.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
3,168290,57.0,Male,White (HUD),Hispanic/Latino (HUD),No (HUD)
4,123122,51.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
...,...,...,...,...,...,...
5284,363078,62.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),Yes (HUD)
5285,291392,55.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),Yes (HUD)
5286,382261,49.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),Yes (HUD)
5287,359808,59.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),Yes (HUD)
5288,385539,58.0,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),Yes (HUD)

In [5]:
#Update values for better readability
client_read_df = client_read_df.replace(to_replace ="Black or African American (HUD)", value ="Black/African American")
client_read_df = client_read_df.replace(to_replace ="White (HUD)", value ="White")
client_read_df = client_read_df.replace(to_replace ="Non-Hispanic/Non-Latino (HUD)", value ="Non-Hispanic/Non-Latino") 
client_read_df = client_read_df.replace(to_replace ="Asian (HUD)", value ="Asian") 
client_read_df = client_read_df.replace(to_replace ="Native Hawaiian or Other Pacific Islander (HUD)", value ="Native Hawaiian/Pacific Islander") 
client_read_df = client_read_df.replace(to_replace ="Data not collected (HUD)", value ="Unknown") 
client_read_df = client_read_df.replace(to_replace ="Client refused (HUD)", value ="Unknown") 
client_read_df = client_read_df.replace(to_replace ="Client doesn't Know (HUD)", value ="Unknown") 
client_read_df = client_read_df.replace(to_replace ="Hispanic/Latino (HUD)", value ="Hispanic/Latino") 
client_read_df = client_read_df.replace(to_replace ="Yes (HUD)", value ="Yes") 
client_read_df = client_read_df.replace(to_replace ="No (HUD)", value ="No") 

#Convert age to int
#client_read_df['Age'] = client_read_df['Age'].astype(int)

client_read_df

,ClientID,Age,Gender,Race,Ethnicity,VeteranStatus
0,397941,60.0,Female,White,Non-Hispanic/Non-Latino,No
1,130335,48.0,Female,Black/African American,Non-Hispanic/Non-Latino,No
2,188933,42.0,Female,Black/African American,Non-Hispanic/Non-Latino,No
3,168290,57.0,Male,White,Hispanic/Latino,No
4,123122,51.0,Male,White,Non-Hispanic/Non-Latino,No
...,...,...,...,...,...,...
5284,363078,62.0,Male,Black/African American,Non-Hispanic/Non-Latino,Yes
5285,291392,55.0,Male,Black/African American,Non-Hispanic/Non-Latino,Yes
5286,382261,49.0,Male,Black/African American,Non-Hispanic/Non-Latino,Yes
5287,359808,59.0,Male,Black/African American,Non-Hispanic/Non-Latino,Yes
5288,385539,58.0,Male,Black/African American,Non-Hispanic/Non-Latino,Yes

In [6]:
#Create distinct client list using the max age recorded

client_maxage_df = client_read_df.groupby(['ClientID'], sort=False)['Age'].max()
client_maxage_df

ClientID
397941    60.0
130335    48.0
188933    42.0
168290    61.0
123122    53.0
          ...
376797    51.0
199296    38.0
378312    50.0
379142    33.0
363078    62.0
Name: Age, Length: 2364, dtype: float64

In [7]:
client_maxage_df = client_maxage_df.to_frame().reset_index()

client_maxage_df.columns = ['ClientID','Age']

In [8]:
#Append corresponding demographics to distinct patient list

client_df = pd.merge(client_maxage_df, client_read_df, how='left', left_on = ['ClientID','Age'], right_on = ['ClientID','Age'])

client_df

,ClientID,Age,Gender,Race,Ethnicity,VeteranStatus
0,397941,60.0,Female,White,Non-Hispanic/Non-Latino,No
1,130335,48.0,Female,Black/African American,Non-Hispanic/Non-Latino,No
2,188933,42.0,Female,Black/African American,Non-Hispanic/Non-Latino,No
3,168290,61.0,Male,White,Hispanic/Latino,No
4,123122,53.0,Male,White,Non-Hispanic/Non-Latino,No
...,...,...,...,...,...,...
2359,376797,51.0,Male,Black/African American,Non-Hispanic/Non-Latino,No
2360,199296,38.0,Female,White,Non-Hispanic/Non-Latino,No
2361,378312,50.0,Male,Black/African American,Non-Hispanic/Non-Latino,No
2362,379142,33.0,Male,White,Non-Hispanic/Non-Latino,No
2363,363078,62.0,Male,Black/African American,Non-Hispanic/Non-Latino,Yes

In [9]:
# Read in the disability data
disability_read_df = pd.read_csv(
    "https://raw.githubusercontent.com/biodatascience/datasci611/gh-pages/data/project2_2019/DISABILITY_ENTRY_191102.tsv",     # relative python path to subdirectory
    sep='\t'           # Tab-separated value file.
    #quotechar="'",        # single quote allowed as quote character
    #dtype={"salary": int},             # Parse the salary column as an integer 
    ,usecols=['Client ID', 'Disability Type (Entry)', 'Disability Start Date (Entry)', 'Disability Determination (Entry)']   # Only load the three columns specified.
    #parse_dates=['birth_date'],     # Intepret the birth_date column as a date
    #skiprows=10,         # Skip the first 10 rows of the file
    ,na_values=['**']       # Take any '.' or '??' values as NA
    ,header=0
)

disability_read_df

,Client ID,Disability Determination (Entry),Disability Type (Entry),Disability Start Date (Entry)
0,397941,No (HUD),Alcohol Abuse (HUD),4/20/2015
1,397941,No (HUD),Both Alcohol and Drug Abuse (HUD),4/20/2015
2,397941,No (HUD),Chronic Health Condition (HUD),4/20/2015
3,397941,No (HUD),Developmental (HUD),4/20/2015
4,397941,No (HUD),Drug Abuse (HUD),4/20/2015
...,...,...,...,...
41388,401495,No (HUD),Developmental (HUD),6/3/2015
41389,401495,No (HUD),Drug Abuse (HUD),6/3/2015
41390,401495,No (HUD),HIV/AIDS (HUD),6/3/2015
41391,401495,No (HUD),Mental Health Problem (HUD),6/3/2015
41392,401495,No (HUD),Physical (HUD),6/3/2015

In [10]:
#Update column names
disability_read_df.columns=['ClientID', 'Determination', 'DisabilityType', 'StartDate']

disability_read_df

       ClientID Determination                     DisabilityType  StartDate
0        397941      No (HUD)                Alcohol Abuse (HUD)  4/20/2015
1        397941      No (HUD)  Both Alcohol and Drug Abuse (HUD)  4/20/2015
2        397941      No (HUD)     Chronic Health Condition (HUD)  4/20/2015
3        397941      No (HUD)                Developmental (HUD)  4/20/2015
4        397941      No (HUD)                   Drug Abuse (HUD)  4/20/2015
...         ...           ...                                ...        ...
41388    401495      No (HUD)                Developmental (HUD)   6/3/2015
41389    401495      No (HUD)                   Drug Abuse (HUD)   6/3/2015
41390    401495      No (HUD)                     HIV/AIDS (HUD)   6/3/2015
41391    401495      No (HUD)        Mental Health Problem (HUD)   6/3/2015
41392    401495      No (HUD)                     Physical (HUD)   6/3/2015

[41393 rows x 4 columns]

In [11]:
#filter down to clients that have atleast 1 disability
disability_Yes_df = disability_read_df[disability_read_df['Determination'] == 'Yes (HUD)'].drop_duplicates()

disability_Yes_df.head(10)

    ClientID Determination                  DisabilityType   StartDate
7     397941     Yes (HUD)     Mental Health Problem (HUD)   4/20/2015
8     397941     Yes (HUD)                Physical/Medical   4/20/2005
22    130335     Yes (HUD)  Chronic Health Condition (HUD)   6/13/1996
23    130335     Yes (HUD)                Physical/Medical   6/13/2007
36    188933     Yes (HUD)                Drug Abuse (HUD)   3/28/2014
37    188933     Yes (HUD)     Mental Health Problem (HUD)   3/28/2014
38    188933     Yes (HUD)                  Physical (HUD)   3/28/2014
39    188933     Yes (HUD)                  Physical (HUD)  12/20/2014
40    188933     Yes (HUD)                  Physical (HUD)   8/15/2015
49    168290     Yes (HUD)  Chronic Health Condition (HUD)   10/6/2014

In [12]:
#Drop start date and remove duplicates
disability_pivot_df1 = disability_Yes_df[['ClientID','Determination','DisabilityType']].drop_duplicates()

disability_pivot_df1

       ClientID Determination                  DisabilityType
7        397941     Yes (HUD)     Mental Health Problem (HUD)
8        397941     Yes (HUD)                Physical/Medical
22       130335     Yes (HUD)  Chronic Health Condition (HUD)
23       130335     Yes (HUD)                Physical/Medical
36       188933     Yes (HUD)                Drug Abuse (HUD)
...         ...           ...                             ...
40618    367285     Yes (HUD)     Mental Health Problem (HUD)
40866    199296     Yes (HUD)     Mental Health Problem (HUD)
40875    378312     Yes (HUD)                Physical/Medical
40909    379142     Yes (HUD)     Mental Health Problem (HUD)
41283    363078     Yes (HUD)                Physical/Medical

[1967 rows x 3 columns]

In [13]:
#Pivot disability table
disability_pivot_df = disability_pivot_df1.pivot(index = 'ClientID', columns = 'DisabilityType', values = 'Determination').fillna('No (HUD)')

disability_pivot_df

DisabilityType,Alcohol Abuse (HUD),Both Alcohol and Drug Abuse (HUD),Chronic Health Condition (HUD),Developmental (HUD),Drug Abuse (HUD),HIV/AIDS (HUD),Mental Health Problem (HUD),Other,Other: Learning,Physical (HUD),Physical/Medical,Vision Impaired
ClientID,,,,,,,,,,,,
1096,No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD)
2024,No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD)
2054,No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD)
2142,No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),Yes (HUD),Yes (HUD),No (HUD)
2458,No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD)
...,...,...,...,...,...,...,...,...,...,...,...,...
1003586,No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD)
1003772,No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD)
1004044,No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD)
1004126,No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD)
1004212,No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD)

In [14]:
#Rename columns
disability_pivot_df.columns=['AlcoholAbuse','AlcoholandDrugAbuse','ChronicHealthCondition','Developmental',
                             'DrugAbuse','HIVorAIDS','MentalHealthProblem','Other','Learning','Physical','PhysicalMedical','VisionImpaired']

disability_pivot_df

,AlcoholAbuse,AlcoholandDrugAbuse,ChronicHealthCondition,Developmental,DrugAbuse,HIVorAIDS,MentalHealthProblem,Other,Learning,Physical,PhysicalMedical,VisionImpaired
ClientID,,,,,,,,,,,,
1096,No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD)
2024,No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD)
2054,No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD)
2142,No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),Yes (HUD),Yes (HUD),No (HUD)
2458,No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD)
...,...,...,...,...,...,...,...,...,...,...,...,...
1003586,No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD)
1003772,No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD)
1004044,No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD)
1004126,No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD)
1004212,No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),No (HUD),Yes (HUD),No (HUD),No (HUD),No (HUD),No (HUD),No (HUD)

In [15]:
#Update values to binary values
disability_pivot_df1 = disability_pivot_df.replace(to_replace ="Yes (HUD)", value ="1") 
disability_pivot_df2 = disability_pivot_df1.replace(to_replace ="No (HUD)", value ="0") 

disability_pivot_df2

,AlcoholAbuse,AlcoholandDrugAbuse,ChronicHealthCondition,Developmental,DrugAbuse,HIVorAIDS,MentalHealthProblem,Other,Learning,Physical,PhysicalMedical,VisionImpaired
ClientID,,,,,,,,,,,,
1096,0,0,0,0,0,0,0,0,0,1,0,0
2024,0,0,0,0,0,1,0,0,0,0,0,0
2054,0,0,0,0,0,0,1,0,0,1,0,0
2142,0,1,0,0,0,0,1,0,0,1,1,0
2458,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1003586,0,0,1,0,0,0,0,0,0,1,0,0
1003772,0,0,0,0,0,0,1,0,0,0,0,0
1004044,0,0,1,0,0,0,1,0,0,1,0,0
1004126,0,0,0,1,0,0,1,0,0,0,0,0
1004212,0,1,0,0,0,0,1,0,0,0,0,0

In [16]:
#convert to integer fields

disability_pivot_df2['AlcoholAbuse'] = disability_pivot_df2['AlcoholAbuse'].astype(int)
disability_pivot_df2['AlcoholandDrugAbuse'] = disability_pivot_df2['AlcoholandDrugAbuse'].astype(int)
disability_pivot_df2['ChronicHealthCondition'] = disability_pivot_df2['ChronicHealthCondition'].astype(int)
disability_pivot_df2['Developmental'] = disability_pivot_df2['Developmental'].astype(int)
disability_pivot_df2['Developmental'] = disability_pivot_df2['Developmental'].astype(int)
disability_pivot_df2['DrugAbuse'] = disability_pivot_df2['DrugAbuse'].astype(int)
disability_pivot_df2['HIVorAIDS'] = disability_pivot_df2['HIVorAIDS'].astype(int)
disability_pivot_df2['MentalHealthProblem'] = disability_pivot_df2['MentalHealthProblem'].astype(int)
disability_pivot_df2['Other'] = disability_pivot_df2['Other'].astype(int)
disability_pivot_df2['Learning'] = disability_pivot_df2['Learning'].astype(int)
disability_pivot_df2['Physical'] = disability_pivot_df2['Physical'].astype(int)
disability_pivot_df2['PhysicalMedical'] = disability_pivot_df2['PhysicalMedical'].astype(int)
disability_pivot_df2['VisionImpaired'] = disability_pivot_df2['VisionImpaired'].astype(int)

print (disability_pivot_df2.dtypes)

AlcoholAbuse              int32
AlcoholandDrugAbuse       int32
ChronicHealthCondition    int32
Developmental             int32
DrugAbuse                 int32
HIVorAIDS                 int32
MentalHealthProblem       int32
Other                     int32
Learning                  int32
Physical                  int32
PhysicalMedical           int32
VisionImpaired            int32
dtype: object

In [17]:
#Sum the number of disabilities

#clear DisabilityTypeTotal before running the sum
disability_pivot_df2['DisabilityTypeTotal'] = 0
disability_pivot_df2['DisabilityTypeTotal'] = disability_pivot_df2.sum(axis = 1)

disability_df = disability_pivot_df2

disability_df

,AlcoholAbuse,AlcoholandDrugAbuse,ChronicHealthCondition,Developmental,DrugAbuse,HIVorAIDS,MentalHealthProblem,Other,Learning,Physical,PhysicalMedical,VisionImpaired,DisabilityTypeTotal
ClientID,,,,,,,,,,,,,
1096,0,0,0,0,0,0,0,0,0,1,0,0,1
2024,0,0,0,0,0,1,0,0,0,0,0,0,1
2054,0,0,0,0,0,0,1,0,0,1,0,0,2
2142,0,1,0,0,0,0,1,0,0,1,1,0,4
2458,0,0,0,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003586,0,0,1,0,0,0,0,0,0,1,0,0,2
1003772,0,0,0,0,0,0,1,0,0,0,0,0,1
1004044,0,0,1,0,0,0,1,0,0,1,0,0,3
1004126,0,0,0,1,0,0,1,0,0,0,0,0,2
1004212,0,1,0,0,0,0,1,0,0,0,0,0,2

In [18]:
#disability_csv = disability_df.to_csv (r'data\disability.csv', index = "ClientID", header=True) #Don't forget to add '.csv' at the end of the path
#disability_read_csv = disability_Yes_df.to_csv (r'data\disability_orig.csv', index = "ClientID", header=True) #Don't forget to add '.csv' at the end of the path

In [19]:
#Join demographics and disabilities data to create final dataset

master_df = client_df.join(disability_df, how='left', lsuffix='_demo',rsuffix='_dis')

master_df

,ClientID,Age,Gender,Race,Ethnicity,VeteranStatus,AlcoholAbuse,AlcoholandDrugAbuse,ChronicHealthCondition,Developmental,DrugAbuse,HIVorAIDS,MentalHealthProblem,Other,Learning,Physical,PhysicalMedical,VisionImpaired,DisabilityTypeTotal
0,397941,60.0,Female,White,Non-Hispanic/Non-Latino,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,130335,48.0,Female,Black/African American,Non-Hispanic/Non-Latino,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,188933,42.0,Female,Black/African American,Non-Hispanic/Non-Latino,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,168290,61.0,Male,White,Hispanic/Latino,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,123122,53.0,Male,White,Non-Hispanic/Non-Latino,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2359,376797,51.0,Male,Black/African American,Non-Hispanic/Non-Latino,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2360,199296,38.0,Female,White,Non-Hispanic/Non-Latino,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2361,378312,50.0,Male,Black/African American,Non-Hispanic/Non-Latino,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2362,379142,33.0,Male,White,Non-Hispanic/Non-Latino,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2363,363078,62.0,Male,Black/African American,Non-Hispanic/Non-Latino,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
master_csv = master_df.to_csv (r'..\data\master.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path